<form *ngIf="formGroup" [formGroup]="formGroup">
    <div class="card flex justify-content-center form-control-container">
        <span class="p-float-label">
            <input type="text" pInputText formControlName="userName" />
            <label for="user">User</label>
        </span>
    </div>
    
    <div class="card flex justify-content-center form-control-container">
        <span class="p-float-label">
            <p-password formControlName="password" [feedback]="false"></p-password>
            <label for="password">Password</label>
        </span>
    </div>
    
    <div class="card flex justify-content-center form-control-container">
        <span class="p-float-label">
            <input type="text" pInputText formControlName="url" />
            <label for="url">Url</label>
        </span>
    </div>

    <div class="card flex justify-content-center form-control-container">
        <p-button icon="pi pi-file-excel" label="Get CSV" (click)="onClick('csv')" [disabled]="!(formGroup && formGroup.valid) || isLoading" ></p-button>
        <p-button icon="pi pi-list" label="Preprare list" (click)="onClick('list')" [disabled]="!(formGroup && formGroup.valid) || isLoading" class="button"></p-button>
    </div>
</form>

<div class="card flex justify-content-center checkbox-control-container">
    <p-checkbox [(ngModel)]="storeFormData" [binary]="true" inputId="storeData"></p-checkbox>
    <label class="label" for="storeData">Store form data</label>
</div>

<div *ngIf="!!isLoading" class="card flex justify-content-center spinner-container">
    <p-progressSpinner></p-progressSpinner>
</div>

<div class="card">
    <p-table [columns]="cols" [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{ rowData[col.field] }}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>