<div *ngIf="!!isLoading" class="card flex justify-content-center spinner-container">
    <p-progressSpinner></p-progressSpinner>
</div>

<!--pim-account-data-form *ngIf="!isLoading"
    (action)="onClick($event)"
    (storeForm)="onStoreFormChange($event)"
    [formGroup]="formGroup"
    [isHide]="isAccountDataFormHidden"
>
</pim-account-data-form-->

<div class="card table-container" *ngIf="!isLoading && isTableVisible">
    <p-table 
        #dt1
        dataKey="barcode"
        [columns]="tableColumns" 
        [value]="products" 
        styleClass="p-datatable-striped" 
        [rows]="50"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['nameFull', 'country.name', 'representative.name', 'status']"
        [(selection)]="selectedProducts"
        (onHeaderCheckboxToggle)="onCheckboxToggle()"
        (onRowSelect)="onCheckboxToggle()"
        (onRowUnselect)="onCheckboxToggle()"
        (onPage)="pageChange($event)"
    >
        <ng-template pTemplate="caption">
            <div class="flex">
                <button pButton 
                    label="Export ALL to CSV" 
                    class="p-button-outlined" icon="pi pi-file-excel" 
                    (click)="onGetCsv()">
                </button>
                <button *ngIf="selectedProducts.length > 0" pButton 
                    label="Export to CSV ({{selectedProducts.length}})" 
                    class="p-button-outlined" icon="pi pi-file-excel" 
                    (click)="saveSelectedAsCsv() ">
                </button>
                <pim-paginator (pageChange)="pageChange($event)" 
                    [index]="currentTokenIndex"
                    [isLastPage]="isLastPage"
                    [pageSize]="pageSize"
                    [totalCount]="totalCount"
                ></pim-paginator>
                
                <p-dropdown [options]="brands" [(ngModel)]="selectedBrand" (ngModelChange)="searchByBrand()" placeholder="Select a brand" optionLabel="name"></p-dropdown>
                
                <span class="p-input-icon-right">
                </span>

                <button pButton 
                    class="p-button-outlined p-button-outlined--left " 
                    icon="pi pi-cog"
                    (click)="columnSettings()"
                    >
                </button>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 4rem">
                    <!--p-tableHeaderCheckbox></p-tableHeaderCheckbox-->
                    <i class="pi pi-times-circle clear-checked" (click)="clearChecked()"></i>
                </th>
                <th *ngFor="let col of columns" >
                    <span *ngIf="searchByColumn.indexOf(col.header) < 0; else searchInput">
                    {{ col.header }}
                    </span>
                    <ng-template #searchInput>
                        <span class="p-input-icon-right ml-auto">
                            <i class="pi pi-times-circle clear-button" (click)="clearSearch(col.header)"></i>
                            <input pInputText type="text"
                                (keyup.enter)="search()"
                                (input)="applyFilter($event, col.header)" 
                                placeholder="search by {{col.header}}" 
                                id="search-{{col.header}}"
                                />
                        </span>
                    </ng-template>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-columns="columns">
            <tr>
                <td>
                    <p-tableCheckbox [value]="product" ></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns">
                    {{ product[col.field] }}
                </td>
            </tr>
        </ng-template>
    </p-table>
  
</div>

<pim-paginator *ngIf="!isLoading && isTableVisible && currentTokenIndex" 
    [index]="currentTokenIndex"
    [isLastPage]="isLastPage"
    [pageSize]="pageSize"
    [totalCount]="totalCount"
    (pageChange)="pageChange($event)">
</pim-paginator>