<div *ngIf="!!isLoading" class="card flex justify-content-center spinner-container">
    <p-progressSpinner></p-progressSpinner>
</div>

<pim-account-data-form *ngIf="!isLoading"
    (action)="onClick($event)"
    (storeForm)="onStoreFormChange($event)"
    [formGroup]="formGroup"
    [isHide]="isAccountDataFormHidden"
>
</pim-account-data-form>

<div class="card table-container" *ngIf="!isLoading && isTableVisible">
    <p-table 
        #dt1
        dataKey="productId"
        [columns]="cols" 
        [value]="products" 
        styleClass="p-datatable-striped" 
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50, 100, 250]"
        [globalFilterFields]="['nameFull', 'country.name', 'representative.name', 'status']"

    >
        <ng-template pTemplate="caption">
            <div class="flex">
                <!--button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button-->
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal(dt1, $event, 'contains')" placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns" >
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-columns="columns">
            <tr>
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns">
                    {{ product[col.field] }}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>