.form-control-container {
    margin-top: 2rem;
}

.checkbox-control-container {
    margin-top: 1rem;
    .label {
       color: #AAAAAA !important;
       margin-left: 0.5rem;
    }
}

.button {
    margin-left: 0.5rem;
}

.table-container {
    padding: 1rem;
}

.chevron {
    cursor: pointer;
    position:absolute;
    top: 35px;
}